<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>WebSinu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>



<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">WebSinu</a>
</nav>

<div class="container mt-5">
  <h2>Users</h2>

  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Materie List</th>
      <th>Action</th> <!-- New column for delete action -->
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of users with role=ADMIN -->
    <tr th:each="user : ${users}" th:if="${user.role == 'ADMIN'}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>



      <td>
        <form th:action="@{/delete-user}" method="post">
          <input type="hidden" name="userIdToDelete" th:value="${user.id}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <form th:action="@{/edit-user}" method="get">
          <input type="hidden" name="userId" th:value="${user.id}">
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Profesor Users</h2>

  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Materie List</th>
      <th>Action</th> <!-- New column for delete action -->
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of users with role=PROFESOR -->
    <tr th:each="user : ${users}" th:if="${user.role == 'PROFESOR'}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>

      <td>
        <!-- Iterate over the materieList for each user -->
        <ul>
          <li th:each="materie : ${user.materieList}">
            <span th:if="${materie.nume_materie != null}" th:text="${materie.nume_materie}"></span>
            <span th:if="${materie.nume_materie == null}">N/A</span>
          </li>
        </ul>
      </td>

      <td>
        <form th:action="@{/delete-user}" method="post">
          <input type="hidden" name="userIdToDelete" th:value="${user.id}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <form th:action="@{/edit-user}" method="get">
          <input type="hidden" name="userId" th:value="${user.id}">
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Student Users</h2>

  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Materie List</th>
      <th>Action</th> <!-- New column for delete action -->
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of users with role=STUDENT -->
    <tr th:each="user : ${users}" th:if="${user.role == 'STUDENT'}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>

      <td>
        <!-- Iterate over the materieList for each user -->
        <ul>
          <li th:each="materie : ${user.materieList}">
            <span th:if="${materie.nume_materie != null}" th:text="${materie.nume_materie}"></span>
            <span th:if="${materie.nume_materie == null}">N/A</span>
          </li>
        </ul>
      </td>

      <td>
        <form th:action="@{/delete-user}" method="post">
          <input type="hidden" name="userIdToDelete" th:value="${user.id}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <form th:action="@{/edit-user}" method="get">
          <input type="hidden" name="userId" th:value="${user.id}">
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
