<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebSinu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">WebSinu</a>
</nav>

<div class="container mt-5">
    <h2>Materii</h2>

    <!-- Search Form -->
    <form action="/searchMaterii" method="get" class="mb-3">
        <input type="hidden" name="idProf" th:value="${idProf}"/>
        <div class="form-group">
            <label for="search">Search by Nume Materie</label>
            <input type="text" class="form-control" id="search" name="search" placeholder="Enter nume materie" th:value="${search}"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <!-- Sorting Form -->
    <form action="/materii" method="get" class="mb-3">
        <input type="hidden" name="idProf" th:value="${idProf}"/>
        <input type="hidden" name="sort" value="alphabetical"/>
        <button type="submit" class="btn btn-primary">Sort By Nota Examen Ascending</button>
    </form>

    <form action="/materiii" method="get" class="mb-3">
        <input type="hidden" name="idProf" th:value="${idProf}"/>
        <input type="hidden" name="sort" value="descending"/>
        <button type="submit" class="btn btn-primary">Sort By Nota Examen Descending</button>
    </form>

    <!-- Filtering Form -->
    <form action="/materiiWithNullExamen" method="get" class="mb-3">
        <input type="hidden" name="idProf" th:value="${idProf}"/>
        <button type="submit" class="btn btn-primary">Filter Materie with Null Examen</button>
    </form>

    <!-- Add button to calculate median for all examen from all materie -->
    <form action="/calculate-median" method="post" class="mb-3">
        <input type="hidden" name="idProf" th:value="${idProf}"/>
        <button type="submit" class="btn btn-primary">Calculate Median for All Examen from All Materie</button>
    </form>

    <table class="table table-bordered mt-3">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Note List</th>
            <th>User List</th>
            <th>User List</th>
        </tr>
        </thead>
        <tbody>
        <!-- Filter materie list based on the specific username -->
        <th:block th:each="user : ${users}">
            <th:block th:if="${user.id == idProf}">
                <th:block th:if="${user.role == 'STUDENT'}">
                    <th:block th:each="materie : ${user.materieList}">
                        <tr>
                            <td th:text="${materie.materie_id}"></td>
                            <td th:text="${materie.nume_materie}"></td>
                            <td>
                                <th:block th:if="${materie.examen != null}">
                                    <th:block th:each="examen : ${materie.examen}">
                                        <!-- Filter notaExamenList by user.id -->
                                        <th:block th:each="notaExamen : ${examen.notaExamenList}"
                                                  th:if="${notaExamen.user != null and notaExamen.user.id != null}">
                                            <th:block th:if="${notaExamen.user.id == idProf}">
                                                <span th:text="${notaExamen.calificativ_examen}"></span>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </th:block>
                                <th:block th:unless="${materie.examen != null}">Nu exista examen pentru materie</th:block>
                            </td>
                            <td th:text="${user.username}"></td>
                        </tr>
                    </th:block>
                </th:block>
                <th:block th:unless="${user.role == 'STUDENT'}">
                    <tr>
                        <td colspan="6">
                            <div class="alert alert-danger" role="alert">User is not a STUDENT</div>
                        </td>
                    </tr>
                </th:block>
            </th:block>
        </th:block>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
